html {
	height: 100vh;
	width: 100vw;
}

body {
	/* background-color: rgba(165, 118, 120, 0.315); */
	height: 99vh;
	background: linear-gradient(to top, rgba(165, 118, 120, 0.315), white);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	/* padding: 0px 5px 5px 5px; */
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: static;
	/* border: 1px solid red; */
}

.div-test {
	border: 1px solid salmon;
}

/* #app {
	border: 2px solid black;
} */

/* ROOMS ____________________________________________________________ */

#rooms-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 100px;
	/* border: 2px solid rgb(0, 255, 213); */
}

#waiting-room {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	max-width: 500px;
	min-height: 500px;
	gap: 10px;
	/* border: 1px solid green; */
}

.waiting-room-headline {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	font-weight: bold;
	font-size: x-large;
	/* border: 1px solid blue; */
}

.form {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	align-items: stretch;
	gap: 10px;
	/* border: 1px solid magenta; */
}

.submit-button {
	width: 100%;
	background-color: rgb(123, 93, 119);
	color: white;
	padding: 15px 20px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-size: medium;
}

input,
select {
	width: 100%;
	padding: 12px 20px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: medium;
}

#chat-room {
	/* width: 100vw; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	width: 100vw;
	/* border: 1px solid rgb(146, 83, 10); */
	/* overflow: auto; */
}

#chat-room-header {
	position: fixed;
	/* background-color: rgba(255, 0, 230, 0.303); */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	right: 0px;
	left: 0px;
	top: 0px;
	height: 80px;
}

.header-buttons-div {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	gap: 5px;
	padding: 5px;
	width: 75px;
	font-family: 'Courier New', Courier, monospace;
	font-size: small;
	font-weight: bold;
	color: rgb(123, 93, 119);
	text-align: center;

	/* border: 1px solid green; */
}

.border-div {
	display: flex;
	flex-direction: row;
	align-content: center;
	gap: 5px;
	/* border: 1px solid rgb(0, 128, 100); */
}

.header-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	background-color: rgb(123, 93, 119);
	color: white;
	padding: 5px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-size: medium;
}

#chat-room-info {
	position: fixed;
	background-color: rgba(123, 93, 119, 0.308);
	padding: 20px;
	right: 0px;
	left: 0px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	top: 80px;

	border-radius: 0px 0px 20px 20px;
	/* border: 1px solid blue; */
}

#chat {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* width: 100%; */
	/* align-items: stretch; */
	padding: 10px;
	overflow: auto;
	margin-bottom: 70px;
	/* position: sticky; */
	/* scroll-snap-align: end; */
	/* border: 1px solid magenta; */
}

#messages-wrapper {
	/* width: 65%; */
	display: flex;
	flex-direction: column;
	gap: 5px;
	/* border: 1px solid green; */
}

#typing-status {
	font-family: 'Courier New', Courier, monospace;
	font-size: small;
	font-weight: bold;
	color: rgb(123, 93, 119);
	text-align: center;

	/* border: 1px solid blue; */
}

/* MESSAGE INPUT __________________________________________________________ */

#message-input {
	display: flex;
	flex-direction: row;
	/* justify-content: center; */
	align-items: center;
	gap: 10px;
	height: 50px;
	position: fixed;
	right: 5px;
	left: 5px;
	background-color: rgba(123, 93, 119, 0.308);
	/* width: 100%; */
	padding: 5px 10px 5px 20px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);

	bottom: 5px;

	border-radius: 50px;

	/* border: 1px solid purple; */
}

#message-input-form {
	width: 100%;
}

.message-button-active {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	min-width: 40px;
	height: 40px;
	background-color: rgb(123, 93, 119);
	color: white;
	padding: 5px 5px 5px 5px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	font-size: x-large;
	/* border: 1px solid blue; */
}

.message-button-inactive {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	min-width: 40px;
	height: 40px;
	color: white;
	background-color: rgb(194, 194, 194);
	padding: 5px 5px 5px 5px;
	border: none;
	border-radius: 50%;
	font-size: x-large;
	/* border: 1px solid blue; */
}

#message-entry {
	margin-right: 15px;
	/* border: 1px solid red; */
}

/* HEADER ______________________________________________________________ */

#header {
	position: fixed;
	background-color: rgba(123, 93, 119, 0.308);
	width: 100vw;
	padding: 5px 5px 5px 15px;
	height: 70px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	/* border: 1px solid magenta; */
}

@media screen and (max-device-width: 450px) and (orientation: portrait) {
	#header {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

#title-wrapper {
	height: 60px;
	width: fit-content;
	height: 100%;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* border: 1px solid blue; */
}

#title {
	width: fit-content;
	font-family: 'Modak', cursive;
	background-color: white;
	font-size: 35px;
	color: rgb(123, 93, 119);
	text-align: center;
	border-radius: 50px;
	text-align: center;
	padding: 0px 15px 0px 15px;
	margin: 0px;
	/* border: 1px solid red; */
}

#sub-title {
	font-family: 'Courier New', Courier, monospace;
	font-size: small;
	font-weight: bold;
	color: rgb(123, 93, 119);
	margin-top: 2px;
	padding: 0px;
	text-align: center;
	/* border: 1px solid red; */
}

/* MESSAGE _________________________________________________ */
.message-bubble-self {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	background-color: rgb(228, 159, 163);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 20px 20px 0px 20px;
	padding: 5px 20px 5px 20px;
	max-width: 50%;
	min-width: 15%;

	/* border: 1px solid red; */
}

.message-bubble-roommate {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	background-color: rgb(196, 168, 106);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 20px 20px 20px 0px;
	padding: 5px 15px 5px 15px;
	max-width: 50%;
	min-width: 15%;
	/* border: 1px solid red; */
}

.message-bubble-admin {
	background-color: rgba(123, 93, 119, 0.5);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 20px;
	/* padding-top: 0px;
	padding-bottom: 0px; */
	padding: 2px 15px 2px 15px;
	max-width: 80%;
	min-width: 15%;
	text-align: center;

	/* border: 1px solid red; */
}

.message-div-self {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: stretch;
	align-items: flex-end;
	justify-content: flex-end;

	/* border: 1px solid red; */
}
.message-div-admin {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: stretch;
	align-items: center;
	padding: 0px;

	/* border: 1px solid red; */
}

.message-div-roommate {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	/* border: 1px solid red; */
}

.message-author {
	padding-left: 15px;
	padding-right: 15px;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(123, 93, 119);
	font-weight: bold;
	font-size: small;

	/* border: 1px solid blue; */
}

.center-text {
	align-items: center;
	/* align-content: center; */
	text-align: center;
	width: 100%;

	/* border: 1px solid blue; */
}

.left-text {
	text-align: left;
}
